html {
    scroll-behavior: smooth;
}

body {
    background-color: #131617;
    font-family: 'Muli', sans-serif;
    color: #aaa;
    margin: 0;
}

.wrapper {
    background-color: #131617;
    width: 80%;
    margin: 0 auto;
    z-index: 2;
} 

.content-block {
    flex-grow: 1;
    margin: 0 4%;
}

.page-block {
    margin-bottom: 16vh;
}

h1 {
    color: #eee;
    font-size: 8vw;
    text-shadow: 2px 2px 4px #0B0B0B;
}

h2 {
    font-size: 2rem;
    color: #eee;
    display: inline-block;
    margin-bottom: 16vh;
}

h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #eee;
    margin-top: 0;
    padding-bottom: 2%;
    border-bottom: teal solid 2px;
    margin-bottom: 16vh;
}

h4 {
    font-size: 16px;
    font-weight: 400;
    color: #eee;
}

strong {
   color: #3E6C76;
   text-shadow: 2px 2px 4px #0B0B0B;
}

a {
    text-decoration: none;
    color: white;
}

@media(max-width: 400px) {
    .wrapper {
        width: 96%;
    }
}