.parallax {
    height: 100vh;
    width: 100vw;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1px;
}

.parallax__layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.parallax-background {
    transform: translateZ(-2px) scale(3);
}

.parallax-head {
    top: 76%;
    left: 40%;
    -webkit-transform: translateZ(-1px) scale(2);
    transform: translateZ(-1px) scale(2);
    z-index: 1;
    transform-style: preserve-3d;
}

.parallax-img {
    height: 100%;
    width: 100vw;
    background: linear-gradient(180deg, rgba(19,22,23, 0.1), rgba(19,22,23,1)), url('../../assets/snorkel.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

.parallax-content {
    transform: translateZ(0);
    background: linear-gradient(180deg, rgba(19,22,23, 0.1), rgba(19,22,23,1)), url('../../assets/snorkel-wave.png');
    position: relative;
    bottom: 0;
    display: block;
    z-index: 2;
    height: 140%;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: center;
    background-repeat: no-repeat;
}

.parallax-content-front {
    transform: translateZ(0);
    background: linear-gradient(180deg, rgba(19,22,23, 0.1), rgba(19,22,23,1)), url('../../assets/snorkel-wave.png');
    position: relative;
    bottom: 0;
    display: block;
    z-index: 1;
    height: 110%;
    width: 100%;
    background-position: center;
    background-size: cover;
    object-fit: center;
    background-repeat: no-repeat;
}

.content {
    width: 100vw;
    background-color: #131617; 
    z-index: 8;
}

.hello {
    text-align: center;
    margin: 0 auto;
    padding-top: 16vh;
}


@media(max-width: 900px) {
    .parallax-head {
        top: 64%;
    }
}

@media(max-width: 560px) {
    .parallax-head {
        top: 98%;
        transform: translateZ(-1px) scale(3);
    }

    .hello {
        width: 72vw;
        margin-top: 16vh;
        margin-bottom: 16vh;
    }

    .hello-open {
        margin: 0;
    }

    .hello-close {
        margin-top: 0;
        margin-bottom: 8vh;
    }
}