/* Link Styling */

.link-block {
    display: flex;
    justify-content: space-around;
}

.link-out  {
    transition: all .2s ease-in-out;
    text-align: center;
    text-decoration: none;
    border: 1px solid #3E6C76;
    padding: 8px 16px;
    color: #aaa;
    display: inline-block;
    border-radius: 2px;
}

.link-out:hover {
    border: 1px solid #3E6C76;
    background-color: #3E6C76;
    color: white;
    box-shadow: rgba(14,25,27, 0.2) 0px 4px 16px 8px;
}
