footer {
    height: 24vh;
    background-color: rgb(21, 23, 24);
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    justify-content: space-evenly;
}

.social-icon {
    height: 40px;
    width: 40px;
    padding: 40%;
}

.social-clickable {
    position: relative;
    display: inline;
}

.social-overlay {
    height: 40px;
    width: 40px;
    opacity: 0;
    position: absolute;
    top: -53px;
    left: 28px;
    border-radius: 4px;
}

.social-overlay:hover {
    opacity: 0.3;
    background-color: rgba(53, 69, 75, 1);
    z-index: 1;
}