.cards-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 4vw;
}

.skill-card {
    background-color: rgba(53, 69, 75, 0.1);
    box-shadow: #1A1A1A 1px 1px 1px;
    align-items: center;
    margin: 2rem;
    padding-bottom: 16vh;
    width: 100%;
    border-radius: 1%;
    position: relative;
    box-shadow: rgba(14,25,27, 0.2) 0px 4px 16px 8px;
}

.band {
    letter-spacing: 0.2em;
    position: absolute;
    border-radius: 2%;
    box-shadow: #1A1A1A 1px 1px 1px;
    top: 24px;
    left: -39px;
    width: 56%;
    padding: 8px 16px;
    z-index: 1;
}

.band-tri {
    position: absolute;
    left: -39px;
    top: 93px;
    width: 0;
    height: 0;
    border-left: 2.4rem solid transparent;
}

.soft {
    background-color: rgba(43, 89, 99, 0.8);
}

.soft-tri {
    border-top: 2.4rem solid rgba(43, 89, 99, 0.9);
}

.prod {
    background-color: rgba(43, 58, 99, 0.8);
}

.prod-tri {
    border-top: 2.4rem solid rgba(43, 58, 99, 0.9);
}

.user {
    background-color: rgba(44, 94, 55, 0.8);
}

.user-tri {
    border-top: 2.4rem solid rgba(44, 94, 55, 0.9);
}

.band-soft > p {
    padding: 0;
}


.soft-content {
    margin-left: 4rem;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1vw;
    grid-row-gap: 6vh;
    align-items: center;
    padding-top: 120px;
}


.prod-content {
    margin-left: 4rem;
    margin-right: 2vw;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 8vh 4vw;
    padding-top: 120px;
}

.prod-cols {
    display: grid;
}

.soft-icon {
    height: 64px;
    width: 64px;
    padding-right: 8px;
}

@media(max-width: 1380px) {
    .cards-grid {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 800px) {
    .band {
        width: 80%;
    }
}

@media(max-width: 560px) {
    .skill-card {  
        margin: 8% 6%;
        padding-bottom: 8vh;
    }

    .soft-content {
        margin-left: 6%;
        grid-template-columns: 1fr 4fr;
        grid-row-gap: 4vh;
    }
}