.block-why {
    /* background: linear-gradient(180deg, rgba(19,22,23, 0.1) 20%, rgba(0,46,46,0.6), rgba(19,22,23, 0.1) 70%); */
    height: auto;
    width: 100%;
    z-index: 1;
    padding-bottom: 4vh;
}

.text-block {
    text-align: center;
    width: 100%;
}

.text-block > h4 {
    letter-spacing: 0.2em;
}

.why-icon-block {
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16vh;
}

.why-icon-block p {
    letter-spacing: 0.1em;
    color: #eee;
    text-shadow: 2px 2px 4px #0B0B0B;
}

.why-icons {
    height: 88px;
    padding: 16%;
}

@media(max-width: 560px) {
    .why-icon-block {
        display: grid;
        grid-template-columns: 1fr;
    }

    .why-icons {
        padding: 0;
        padding-top: 12%;
    }

    .block-why {
        height: auto;
        padding-bottom: 0;
    }
}
